/* Container */
.teacher-dailyAttendanceContainer {
    position: relative;
    width: 100%;
    padding: 7%;
    box-sizing: border-box;
}
.Daily-att{
    top:-4vw;
    position: relative;
    font-size: 35px;
    font-weight:bolder;
    align-items: center;
    text-align: center;
}
/* Back button styles */
.Teacher-back-button {
    position: absolute;
    top: 7%;
    left: 1vw;
    font-size: 40px;
    font-weight:bolder;
    background: none;
    border: none;
    cursor: pointer;
    z-index: 000; /* Ensures it's on top of other elements */
    color: black; /* Color for the button, can adjust based on your design */
}


/* Top buttons styling */
.Teacher-Top-Buttons {
    display: flex;
    justify-content: space-between; /* Ensure buttons are on opposite sides */
    margin-bottom: 20px;
    align-items: center;
    
}
.Teacher-Drop-down {
    /* position: relative; */

}

/* Record details section */
.teacher-recordDetails {
    display: flex;
    justify-content: space-between; /* Aligns Updated Last and Total Lecture on opposite sides */
    align-items: center;
    margin-top: 20px;
}

/* Left side for Updated Last */
.teacher-leftSide {
    text-align: left;
}

/* Right side for Total Lecture */
.teacher-rightSide {
    text-align: right;
}

/* Styling for Updated Last */
.teacher-Updated-Last {
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 10px;
    display: block;
}

/* Styling for Total Lecture */
.teacher-Total-Lecture {
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 10px;
    display: block;
}

/* Date range section */
.teacher-dateRange {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

/* Date picker styling */
.teacher-datePicker {
    display: flex;
    align-items: center;
}
.Portal-select{
    font-size: 1.3rem;
    max-width: 50%;
    padding: 4px;
    background-color:  #35393b; 
    color: white;
    border: none;
    border-radius: 4px;
}
