/* Container */
.teacher-scoreboard-container {
    padding: 10px;
  }
  
  /* Top buttons styling */
  .teacher-top-buttons {
    display: flex;
    margin-bottom: 20px;
  }
 /* Info row styling */
  .teacher-info-row {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    padding: 10px;
    padding-left: 7%;
    font-size: 20px;
    font-weight:bold ;
  }
  
  .teacher-info-row span {
    flex: 1;
    text-align: left;
  }
  .teacher-maxmarks{
    padding-top: 10px;
    padding-left: 7%;
    font-size: 20px;
    font-weight:bold ;

  }
  .portal-select{
    padding: 10px 10px;
    border: none;
    background-color: #35393b; /* Dark gray background for the dropdown */
    color: white; /* White text color */
    font-size: 16px; /* Adjust font size */
    border-radius: 8px; /* Adds rounded corners */
    outline: none; /* Removes the default border on focus */
    cursor: pointer;
    transition: background-color 0.3s ease; /* Smooth transition effect */
 
  }
  