/* Container */
.teacher-scoreboard-container {
    padding: 10px;
  }
  
  /* Top buttons styling */
  .teacher-top-buttons {
    display: flex;
    margin-bottom: 20px;
    padding-left: 7%;
  }
 /* Info row styling */
  .teacher-info-row {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    padding: 10px;
    padding-left: 7%;
    font-size: 20px;
    font-weight:bold ;
  }
  
  .teacher-info-row span {
    flex: 1;
    text-align: left;
  }
  .teacher-maxmarks{
    padding-top: 10px;
    padding-left: 7%;
    font-size: 20px;
    font-weight:bold ;

  }
 
  