.add-subject-container {
    margin-left: 30%;  /* Sidebar width */
    margin-top: 80px;  
    padding: 20px;
    display: flex;
    flex-direction: column;
    height: auto;
  }
    
  .subform-container {
    margin-left: 30%; 
    margin-top: 60px;
    margin-right: 15%;
    padding: 20px;
    flex-grow: 1;
    border: 0.5px solid;
    width: 60%;
    background-color: rgb(224, 227, 227);
    border-radius: 5px;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  .form-group label {
    display: block;
    margin-bottom: 5px;
  }
  
  .form-buttons {
    display: flex;
    justify-content: space-around;
  }
 
  .input{
    padding: 3px;
    width: 95%;
  }

  .select{
    padding: 3px;
    width: 96%;
  }

  .btn{
    background-color: black;
    color: white;
    width: 25%;
    padding: 6px;
    border-radius: 10px;
    margin-top: 8px;
  }