.snav {
  padding: 11px;
  background-color: rgb(92, 120, 238);
  color: white;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.sul {
  display: flex;
  list-style: none;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}

.sli {
  margin-left: 20px;
}

.sli:first-child {
  margin-right: auto;
  font-weight: bold;
}

.snav-link {
  color: white;
  text-decoration: none;
  cursor: pointer;
}

.snav-link:hover {
  text-decoration: underline;
}

.snavprofile-img {
  height: 30px;
  border-radius: 50%;
  cursor: pointer;
}

.snavprofile-container {
  position: relative;
  margin-right: 30px; /* Pushes the profile image to the far right */
}

/* Position the logout/login button below the profile image */
.slogout-button, .slogin-button {
  position: absolute;
  top: 40px; /* Adjust based on your design */
  right: 0;
  display: none; /* Hide by default */
}

.snavbutton {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: opacity 0.3s ease;
}

/* Show the button when `showLogout` is true */
.slogout-button {
  display: block; /* Override to show the button when it should be displayed */
}

.slogin-button {
  display: inline-block; /* Keep login button inline */
}
