.snav {
  padding: 0.7%;
  background-color: rgb(92, 120, 238);
  color: white;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.sul {
  display: flex;
  list-style: none;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}

.sli {
  margin-left: 20px;
}

.sli:first-child {
  margin-right: auto;
  font-weight: bold;
  font-size: x-large;
}

.snav-link {
  color: white;
  text-decoration: none;
  cursor: pointer;
}

.snav-link:hover {
  text-decoration: underline;
}

.snavprofile-img {
  height: 30px;
  border-radius: 50%;
  cursor: pointer;
}

.snavprofile-container {
  position: relative;
  margin-right: 3%; /* Pushes the profile image to the far right */
}

/* Dropdown menu styles */
.dropdown-menu {
  position: absolute;
  top: 40px; /* Position below the profile image */
  right: 0;
  background-color: white;
  color: black;
  border-radius: 10px; /* Smooth rounded corners */
  padding: 15px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15); /* Slightly increased shadow */
  z-index: 1001; /* Above the navbar */
  width: 200px; /* Adjusted width for better spacing */
}

.username {
  margin: 0 0 10px;
  font-weight: bold;
}

/* Button styles */
.snavbutton {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
  width: 100%; /* Full width */
  text-align: center;
}

.snavbutton:hover {
  background-color: #0056b3; /* Darker blue on hover */
  transform: scale(1.05); /* Slight scale-up on hover */
}

/* Specific styles for Login button */
.slogin-button {
  background-color:#007bff; /* Dark blue color for login button */
}

.slogin-button:hover {
  background-color: #0056b3; /* Darker green on hover */
}

/* Icon styles */
.icon {
  width: 24px; /* Increased size */
  height: 24px;
  margin-right: 8px; /* Space between the icon and text */
  vertical-align: middle;
}
