/* .add-change-container {
    margin-top: 40px;  
    padding: 20px;
    display: flex;
    flex-direction: column;
    height: auto;
  } */
    
  .form-container {
    margin-left: 20%; 
    margin-top: 10px;
    margin-right: 15%;
    padding: 20px;
    flex-grow: 1;
    border: 0.5px solid;
    width: 60%;
    background-color: rgb(224, 227, 227);
    border-radius: 5px;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  .form-group label {
    display: block;
    margin-bottom: 5px;
  }
  
  .form-buttons {
    display: flex;
    justify-content: space-around;
  }
 
  .input{
    padding: 3px;
    width: 95%;
  }

  .select{
    padding: 3px;
    width: 96%;
  }

  .btn{
    background-color: black;
    color: white;
    width: 25%;
    padding: 6px;
    border-radius: 10px;
    margin-top: 8px;
  }
  
  /* Main content styles */
  .main-content {
    margin-left: 20%;  /* Sidebar width */
    margin-top: 60px;  /* Navbar height */
    padding: 20px;
  }

  .container {
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  /* Responsive styles */
  @media (max-width: 768px) {
    .sidebar {
      width: 100%;
      height: auto;
      position: relative;
    }
  
    .main-content {
      margin-left: 0;
    }

  }
  