/* Container for the scoreboard */
.st-marks{
    margin-top: 50px;
}

.stscoreboard-container {
    background-color: #ffffff;
    padding: 20px;
    /* height: 100vh; */
  }
  
  /* Header styles */
  .stscoreboard-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .st-title {
    text-align: center;
    flex-grow: 1;
  }
  
  .stexam-dropdown select {
    padding: 10px;
    background-color: #ffcccc;
    border: none;
    border-radius: 5px;
    font-size: 16px;
  }
  
  /* Back button */
  .back-button {
    font-size: 24px;
    background: none;
    border: none;
    cursor: pointer;
    margin-top: 50px;
  }
  
  /* Accordion styles */
  .staccordion {
    background-color: #faf2f2;
    border: 1px solid #e7f2ff;
    border-radius: 5px;
    margin-bottom: 10px;
    transition: all 0.3s ease;
  }
  
  .staccordion-header {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    /* font-size: 18px; */
    cursor: pointer;
    background-color: #e1f0fe;
    border-radius: 8px;
  }
  
  .staccordion-arrow {
   font-weight: bolder;
    transition: transform 0.3s ease;
  }
  
  .staccordion.open .staccordion-arrow {
    transform: rotate(180deg);
  }
  
  .staccordion-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
  }
  
  .staccordion-details {
    width: 70%;
    /* font-size: 16px; */
  }
  
  .staccordion-chart {
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  /* Subject Code dropdown */
  .stsubject-code-dropdown {
    margin: 20px 0;
  }
  
  .stsubject-code-dropdown label {
    font-size: 16px;
    margin-right: 10px;
  }
  
  .stsubject-code-dropdown select {
    padding: 10px;
    background-color: #fff;
    border: 2px solid #ccc;
    border-radius: 5px;
  }
  
  /* All subjects chart */
  .stall-subjects-chart {
    margin-top: 20px;
  }
  
  .stall-subjects-chart h3 {
    margin-bottom: 10px;
  }
  
  .stall-subjects-chart .chart-placeholder {
    width: 100%;
    height: 200px;
    background-color: #fafafa;
    border: 2px solid #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 36px;
  }

  .st-barchart{
    margin: 20px 30px 20px 5px;
  }
  