.chart-container {
    width: 50%;
    height: 300px;
    margin: auto;
}

/* Responsive styles for mobile */
@media (max-width: 800px) {
    .chart-container {
        width: 90%;
        height: 300px;
    }
}
