.Student-scoreboard-section {
  padding: 20px;
  text-align: left;
}

.student-header {
  display: flex;
  justify-content: space-between; /* Use space-between to position items */
  align-items: flex-end;
  margin-bottom: 20px;
}

.student-exam-dropdown {
  display: flex;
  align-items: flex-end;
  margin-left: auto;
  padding: 8px;
  font-size: 1rem;
  cursor: pointer;
}

.student-subject-bar {
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  overflow: hidden;
}

.student-subject-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f4f4f4;
  padding: 15px;
  cursor: pointer;
  font-weight: bold;
  border-bottom: 1px solid #ccc;
}

.student-dropdown-button {
  margin-left: 5px;
  font-size: 0.8em;
  background: transparent;
  border: none;
  cursor: pointer;
}

.student-subject-details {
  display: flex;
  flex-wrap: wrap;
  padding: 15px;
  background-color: #f9f9f9;
}

.student-subject-info {
  display: flex;
  flex-direction: column;
  margin-right: 30px;
  max-width: 300px;
}

.student-subject-info p {
  margin: 5px 0;
  font-size: 1em;
  line-height: 1.5;
}

.student-subject-chart {
  width: 200px;
  height: 200px;
  flex-shrink: 0;
  margin-left: auto;
}

.no-marks-message {
  text-align: center;
  font-size: 1.2em;
  color: #888;
  padding: 20px;
  margin-top: 20px;
}