.Attendance-Section {
  padding: 20px;
  text-align: left;
}

.Attendance-Header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: 20px;
}

.Daily-Attendance-Button {
  background-color: #3f423f; 
  color: white;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 4px;
}

.Daily-Attendance-Button:hover {
  background-color: #747974;
}

.Subject-Bar {
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  overflow: hidden;
}

.Subject-Header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f4f4f4;
  padding: 15px;
  cursor: pointer;
  font-weight: bold;
  border-bottom: 1px solid #ccc;
}

.Subject-Details {
  display: flex;
  justify-content: flex-start;
  align-items: left;
  background-color:#f9f9f9;
  padding-left: 2%;
}

.Subject-Info {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.Info-Left {
  flex: 1;
  margin-right: 20px;
}

.Info-Right {
  display: flex;
  justify-content: right;
  align-items: top;
  flex: 0 0 150px;
}

.Pie-Chart-Container {
  width: 150px;
  height: 150px;
}
.Dropdown-Button {
  margin-left: 5px;
  font-size: 0.8em;
  background: transparent;
  border: none;
  cursor: pointer;
}