.homepage-container {
  padding: 20px;
}

.centered-container {
  margin-top: 0;
  height:70vh;
  text-align: center;
  padding: 60px 20px;
}

.large-text {
  font-size: 48px;
  font-weight: bold;
}

.button {
  padding: 10px 20px;
  margin: 10px;
  font-size: 18px;
  cursor: pointer;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
}

.button:hover {
  background-color: #0056b3;
}

/* Add padding for About Us and Contact sections */
#about-us-section, #contact-us-section {
  padding: 80px 20px;
}