.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 20%;
    height: 100vh; 
    background-color: #f5f5f5;
    padding: 100px 20px 20px 20px;
    text-align: center;
    gap: 20px;
    box-sizing: border-box; 
    z-index: 999;
    padding-top:160px ;
  }
  
  .sidebar button {
    display: block;
    width: 100%;
    padding: 20px;
    margin-bottom: 10px;
    border: none;
    background-color: #050505;
    color: white;
    cursor: pointer;
    font-size: 16px;
  }
  
  .sidebar button:hover {
    background-color: #676767;
  }
 