/* StudentRecord.css */

/* Container */
.teacher-attendanceContainer {
    position: relative;
    width: 100%;
    margin: 20px auto;
    padding: 20px;
    box-sizing: border-box;
}

/* Top buttons styling */
.teacher-topButtons {
    display: flex;
    margin-bottom: 20px;
    align-items: center; /* Aligns items vertically in the center */
}

/* Dropdown button styling */
.teacher-DropdownBtn {
    background-color: #35393b;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    display: flex;
    align-items: center;
    font-size: 1.3rem;
}

/* Dropdown arrow styling */
.teacher-arrow {
    margin-left: 20px;
    font-size: 13px;
}

/* Dropdown container */
.teacher-Dropdown {
    position: relative;
}

/* Dropdown content */
.teacher-DropdownContent {
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0 8px 16px black;
    z-index: 1;
    display: none;
    flex-direction: column;
}

/* Show dropdown content on focus */
.teacher-DropdownBtn:focus + .teacher-DropdownContent,
.teacher-DropdownContent:hover {
    display: flex;
}

/* Dropdown links */
.teacher-DropdownContent a {
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    color: #333;
}

/* Hover effect on dropdown links */
.teacher-DropdownContent a:hover {
    background-color: #ddd;
}

/* Record details styling */
.teacher-RecordDetails {
    display: flex;
    justify-content: space-between; /* Space between the two items */
    align-items: center; /* Center align items vertically */
    margin-top: 20px; /* Adjusted margin to fit the layout better */
}

/* Updated Last styling */
.teacher-Updated-Last {
    text-align: left; /* Aligns text to the left */
}

/* Total Lecture styling */
.teacher-TotalLecture {
    text-align: right; /* Aligns text to the right */
    font-weight: 700;
    font-size: larger;

}


/* Expand Attendance Button styling */
.teacher-expandAttendanceBtn {
    position: absolute; /* Use absolute positioning */
    bottom: -30px; /* Distance from the bottom */
    right: 20px; /* Distance from the right */
    padding: 10px 20px; /* Padding for the button */
    background-color: #35393b; /* Background color */
    color: white; /* Text color */
    border: none; /* No border */
    border-radius: 4px; /* Rounded corners */
    cursor: pointer; /* Pointer cursor on hover */
    font-size: 1.3rem; /* Font size */
    transition: background-color 0.3s; /* Smooth transition for hover effect */
}

/* Hover effect for the button */
.teacher-expandAttendanceBtn:hover {
    background-color: #1a1818; /* Darker shade on hover */
}
