/* Fixed Navbar at the top */
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #9bbace;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  z-index: 1000; /* Ensure it stays on top */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  box-sizing: border-box; 
  height: 50px;
}

.navbar h2 {
  margin: 0;
  font-size: 24px;
  color: #333;
}

.navbar-right {
  display: flex;
  align-items: center;
  gap: 20px; /* Add space between Change Password and Logout */
}

/* Profile image */
.profile-img {
  height: 30px;
  border-radius: 50%;
  cursor: pointer;
}

/* Default styles for menu options */
.menu-options {
  display: flex;
  align-items: center;
  gap: 20px;
}

.menu-options a {
  text-decoration: none;
  color: #565656;
  font-size: 14px;
}

.menu-options a:hover {
  opacity: 0.8;
}

.menu-options a.navbar-btn:hover {
  font-weight: bold;
  color: #000;
}

.menu-options a.navbar-btn {
  font-weight: normal;
  color: #333;  /* Default link color */
  text-decoration: none;
}

.menu-options a.active-link {
  font-weight: bold;
  color: #000;  /* Active link color (can be the same or different) */
}

/* Hide menu options on mobile screens */
@media (max-width: 768px) {
  .menu-options {
    display: none; /* Hide by default */
    position: absolute;
    top: 50px; /* Below the navbar */
    right: 20px;
    background-color: #9bbace;
    padding: 10px;
    border: 0.5px solid rgb(130, 130, 130);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    flex-direction: column;
    gap: 10px;
    
  }

  .menu-options.show {
    display: flex; /* Show menu when the profile image is clicked */
  }

  .profile-img {
    height: 40px; /* Larger profile image on mobile */
  }
}