/* src/components/Student/StudentSidebar/StudentSidebar.css */
.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 260px;
    height: 100vh;
    background-color: #f4f4f4;
    display: flex;
    flex-direction: column;
    justify-content: center; /* Center buttons vertically */
    align-items: center;     /* Center buttons horizontally */
  }
  
  .sidebar button {
    margin-bottom: 20px;
    padding: 7% 25%;
    cursor: pointer;
  }
  