/* Container */
.teacher-attendance-container {
  position: relative;
  width: 100%;
  padding: 10px 0px;
  box-sizing: border-box;
}

/* Top buttons styling */
.teacher-top-buttons {
  display: flex;
  gap: 20px;
  margin-bottom: 20px;
}

/* Dropdown button styling */
.portalselect{
    padding: 10px 10px;
    border: none;
    background-color: #35393b; /* Dark gray background for the dropdown */
    color: white; /* White text color */
    font-size: 16px; /* Adjust font size */
    border-radius: 8px; /* Adds rounded corners */
    outline: none; /* Removes the default border on focus */
    cursor: pointer;
    transition: background-color 0.3s ease; /* Smooth transition effect */
}
.teacher-subject-dropdown{
  padding-left: 7%;
}

/* Dropdown container */
.teacher-dropdown {
  position: relative;
}

/* Dropdown content */
.teacher-dropdown-content {
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0 8px 16px black;
  z-index: 1;
  display: none;
  flex-direction: column;
}

/* Show dropdown content on focus */
.teacher-dropdown-btn:focus + .teacher-dropdown-content,
.teacher-dropdown-content:hover {
  display: flex;
}

/* Dropdown links */
.teacher-dropdown-content a {
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  color: #333;
}

/* Hover effect on dropdown links */
.teacher-dropdown-content a:hover {
  background-color: #ddd;
}

/* Attendance details */
.teacher-attendance-details {
  font-weight: bold;
  margin-top: 20px;
  padding-left: 7%;
}

/* Input row styling */
.teacher-input-row {
  display: flex;
  align-items: flex-start;
  margin-bottom: 10px;
  position: relative;
  padding: 3px;
}

/* Label styling */
.teacher-input-row label {
  margin-right: 10px;
  font-weight: bold;
  font-size: larger;
}

/* Input field styling */
.teacher-input-row input {
  padding: 7px;
  width: 169px;
  font-size: 14px;
}
.teacher-record-details-div {
  display: flex;
  justify-content: space-between; /* Aligns Updated Last to the left and Total Lecture to the right */
  align-items: center; /* Centers items vertically */
  width: 100%;
  padding-bottom: 1%; /* Add some margin to create spacing from the other elements */
}


/* Align Total Lecture to the right */
.teacher-total-lecture {
  font-weight: 700;
  font-size: larger;
  text-align: right;
}

/* Add spacing between inputs */
.teacher-input-row input:not(:first-child) {
  margin-left: 10px;
}

/* Updated Last text */
.teacher-updated-last {
  font-weight: 700;
  font-size: larger;
}
